* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-bar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0px auto;
  padding: 10px 50px;
  justify-content: space-between;
}

.navigation-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation--logo {
  width: 58px;
  height: 58px;
  background-color: black;
}

.navigation--text {
  font: 600 16px/18px helvetica arial;
}

.navigation--items {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.navigation--items li a {
  text-decoration: none;
  color: black;
}

.landing-page {
  display: grid;
  row-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px 50px;
  margin: 0 auto;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.landing-senction {
  display: grid;
  grid-column: span 7/7;
  width: 100%;
  height: 70dvh;
  justify-content: center;
  align-items: center;
}
.landing--title {
  text-align: center;
  margin: 0 0 10px 0;
  width: 100%;
  font: 600 42px/44px helvetica arial, sans-serif;
  text-transform: uppercase;
}

.landing--text {
  text-align: center;
  width: 100%;
  color: #5e5e5e;
}

.projects {
  border: 1px solid black;
  padding: 10px 25px;
  display: grid;
  grid-column: span 3/3;
}

.projects-items > li {
  margin: 18px 0;
  border-bottom: solid black 1px;
  list-style-type: none;
}

.projects-items > li:last-child {
  border-bottom: none;
}

.Work {
  padding: 10px 25px;
  display: grid;
  grid-column: span 2/5;
  border: 1px solid black;
}

.work--title {
  color: black;
  margin-bottom: 16px;
}

.work-section p {
  color: gray;
}

.work--link {
  text-decoration: none;
  color: #1d74c3;
}

.openSource {
  padding: 10px 0;
  border-top: 1px solid black;
}

.openSource--text {
  color: gray;
}

.openSource--link {
  text-decoration: none;
  color: #1d74c3;
}

.Education {
  padding: 10px 25px;
  border: 1px solid black;
  grid-column: span 2/7;
}

.Education--title {
  color: black;
  margin: 0 0 16px 0;
}

.Education-text {
  color: grey;
}

.Education-items > li {
  list-style-type: circle;
}

.Reviews:not(.Reviews--title) {
  display: grid;
  grid-column: span 7/7;
}

.Reviews-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-around;
}

.Reviews--title {
  color: black;
  margin-bottom: 16px;
}

.Reviews--quote {
  border: 1px solid black;
  border-radius: 1.75rem;
  padding: 12px;
}

.Reviews--author,
.Reviews--proffesion,
.copy-rights {
  color: rgb(128, 128, 128);
}

.Review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.copy-rights {
  margin: 20px auto;
  text-align: center;
}

/* mobile display */

@media (320px <= width <= 420px) {
  .navigation-bar {
    display: grid;
    gap: 20px;
    justify-content: center;
    justify-items: center;
  }

  .navigation-logo {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .navigation--items {
    font-size: 14px;
  }
  .landing-page {
    grid-template-columns: 1fr;
  }
  .landing-senction {
    height: 20dvh;
  }

  .landing--title {
    font-size: 18px;
  }

  .projects {
    grid-column: 1/7;
  }

  .projects-items li {
    text-align: center;
  }
  .Work {
    grid-column: 1/7;
  }

  .Education {
    grid-column: 1/7;
  }

  .Review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
  }

  .Reviews--quote {
    grid-column: 1/4;
  }
}
